SQLAlchemy==0.9.0
amqp==1.4.6
anyjson==0.3.3
beautifulsoup4==4.3.2
billiard==3.3.0.19
celery==3.1.7
cssselect==0.9.1
enum34==0.9.23
-e git+https://github.com/pythonforfacebook/facebook-sdk.git#egg=facebook_sdk-master
kombu==3.0.24
lxml==3.3.5
mechanize==0.2.5
python-dateutil==2.2
pytz==2014.9
requests==2.3.0
six==1.6.1
-e git+https://github.com/AlJohri/socialscraper.git#egg=socialscraper-origin
wsgiref==0.1.2
